<%- include('../partial/header') %>

<body>
  <h1>Simple Social App – Admin</h1>

  <%- include('../partial/nav') %>

  <h2>Users</h2>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <%= user.username %> – <%= user.firstname %> <%= user.lastname %>

        <h4>User Administrator</h4>
        <form action="/admin/deleteUser" method="POST" style="display:inline;">
          <input type="hidden" name="userId" value="<%= user._id %>">
          <button type="submit">Delete User</button>
        </form>
      </li>
    <% }) %>
  </ul>

  <h2>Posts</h2>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <%= post.message %> (by <%= post.user %>)

        <form action="/admin/deletePost" method="POST" style="display:inline;">
          <input type="hidden" name="postId" value="<%= post._id %>">
          <button type="submit">Delete Post</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>

<%- include('../partial/footer') %>
